<table class="table table-hover text-center col-10 mx-auto table-fixed">
    <% let teachers=data[0],totalStu=data[1][0].totalStu,goal=data[2][0].goal,map=extraData,stateCountObj={
        '0-通过':0,
        '1-未审核':0,
        '2-未通过':0
    },count=0;
    for (let j = 0; j < data[3].length; j++) {
        count+=stateCountObj[data[3][j].state]=data[3][j].count;
    } %>
    <thead class="thead-light">
        <tr>
            <th scope="col">教师姓名</th>
            <th scope="col">教师性别</th>
            <th scope="col">教师工号</th>
            <th scope="col">教师职称</th>
            <th scope="col">已发布/课题上限</th>
            <th scope="col">联系邮箱</th>
        </tr>
    </thead>
    <tbody>
        <% for( let i = 0; i < teachers.length; i++ ) { %>
        <tr>
            <td><%= teachers[i].name %></td>
            <td><%= teachers[i].gender %></td>
            <td><%= teachers[i].teaNum %></td>
            <td><%= teachers[i].proTitle %></td>
            <td><%= teachers[i].submitted+'/'+map[teachers[i].proTitle] %></td>
            <td><%= teachers[i].email %></td>
        </tr>
        <% } %>
    </tbody>
    <caption class="text-primary">
        本方向共&ensp;<strong><%= totalStu %></strong>&ensp;名学生，<strong><%= teachers.length %></strong>&ensp;位教师，目标课题&ensp;<strong><%= goal||'暂无' %></strong>&ensp;个。
        <br>
        已有课题&ensp;<strong><%= count %></strong>&ensp;个，其中，通过&ensp;<strong><%= stateCountObj['0-通过'] %></strong>&ensp;个，未审核&ensp;<strong><%= stateCountObj['1-未审核'] %></strong>&ensp;个，未通过&ensp;<strong><%= stateCountObj['2-未通过'] %></strong>&ensp;个。
    </caption>
</table>