<div class="p-3">
    <%- include(PATH.VIEWS_COMMON+'/subjectContent',{PATH,data}) %>
    <div id="subject_check_modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">审查意见</h4>
                    <button class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <form action="" id="subject_check_form" method="POST">
                        <input name="id" type="hidden" value="<%= data[0][0].id %>">
                        <% let fieldArray=[{
                            name:'ifClear',
                            des:'1、本题目的要求、任务、内容是否明确具体',
                            yes:'是&emsp;&emsp;&emsp;',
                            no:'否&emsp;&emsp;&emsp;'
                        },{
                            name:'ifDifficultyProper',
                            des:'2、工作量是否饱满，题目难度是否适中',
                            yes:'是&emsp;&emsp;&emsp;',
                            no:'否&emsp;&emsp;&emsp;'
                        },{
                            name:'ifMeetGoal',
                            des:'3、本题目能否满足综合训练学生的基本教学要求',
                            yes:'是&emsp;&emsp;&emsp;',
                            no:'否&emsp;&emsp;&emsp;'
                        },{
                            name:'ifConditionWell',
                            des:'4、做本题目的条件是否满足',
                            yes:'是&emsp;&emsp;&emsp;',
                            no:'否&emsp;&emsp;&emsp;'
                        },{
                            name:'ifPass',
                            des:'5、审查结论',
                            yes:'通过&emsp;&emsp;',
                            no:'不通过&emsp;'
                        }]; 
                        for (let i = 0; i < fieldArray.length; i++) {
                            const {name,des,yes,no} = fieldArray[i]; %>
                        <label class="required"><%= des %></label>
                        <div class="form-group form-row justify-content-around">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" name="<%= name %>" id="check_<%= name %>_y"
                                    class="custom-control-input" value="yes" checked>
                                <label class="custom-control-label" for="check_<%= name %>_y"><%- yes %></label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" name="<%= name %>" id="check_<%= name %>_n"
                                    class="custom-control-input" value="no">
                                <label class="custom-control-label" for="check_<%= name %>_n"><%- no %></label>
                            </div>
                        </div>
                        <% } %>
                        <label>&ensp;6、其他意见</label>
                        <div class="form-group">
                            <textarea name="extra" id="check_extra" class="form-control" rows="5" placeholder="选填"
                                maxlength="1023"></textarea>
                        </div>
                        <div class="form-group form-row justify-content-around">
                            <button type="reset" class="btn btn-secondary col-12 col-md-3 mb-3 mb-md-0"
                                data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary col-12 col-md-3 mb-3 mb-md-0">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="my-3 row justify-content-end">
        <button type="button" class="btn btn-primary col-12 col-md-3 mb-3 mb-md-0" data-toggle="modal"
            data-target="#subject_check_modal">填写审查意见</button>
    </div>
</div>
<script>
    (function ($, SASEE) {
        SASEE.formSubmit({
            selector: '#subject_check_form',
            url: './check',
            done(msg) {
                let $container = $('#bysj_subject>.sys-list tbody'),
                    $form = $('#subject_check_form');
                if ($container.children().length == 1) {
                    $('#bysj_subject .sys-list').replaceWith(`
                    <div class="d-flex justify-content-center" style="height: 250px">
                        <h1 class="text-muted align-self-center">课题审查完成！</h1>
                    </div>`);
                } else {
                    $container.find('tr[data-id="' + $form[0].id.value + '"]').remove();
                }
                $('#subject_check_modal').modal('hide');
                SASEE.requestDone(msg);
                SASEE._showListOrContent({
                    container: '#bysj_subject'
                });
            }
        });
    })(window.jQuery, window.SASEE);
</script>