<% data.sort((first,second)=>{
    if(first.state=='1-未审核'){
        return -1;
    }else if(second.state=='1-未审核'){
        return 1;
    }
    else if(second.check){
        return -1;
    }else if(first.check){
        return 1;
    }else{
        return 0;
    }
});
for( let index = 0; index < data.length; index++ ) { %>
<tr class="point <%= data[index].state=='1-未审核'?'':(data[index].check?(data[index].check.ifPass=='yes'?'bg-success':'bg-warning'):'') %>"
    data-id="<%= data[index].id %>">
    <td class="<%= data[index].check?'text-dark':'text-primary' %> text-left ellipsis"><%= data[index].title %></td>
    <td><%= data[index].teaName %></td>
    <td><%= data[index].proTitle %></td>
    <td><%= data[index].submitTime %></td>
    <td><%= data[index].lastModifiedTime %></td>
</tr>
<% } %>