<div id="subject_content" class="col-12 mx-auto scroll-container" style="display: none"></div>
<div id="subject_list" class="px-3">
    <div class="card-deck">
        <% for( let i = 0; i < contents.length; i++ ) { %>
        <div class="card mt-4 list-group-item-action" data-type="<%= contents[i].title?'mySubject':'submitSubject' %>"">
            <header class="card-header ellipsis">课题<%= i+1 %>:<%= contents[i].title||'暂无' %></header>
            <div class="card-body row">
                <p class="card-text" style="height:100px;">
                    <%= contents[i].introduction||'暂无' %></p>
                <table class="table mb-0 text-center">
                    <tbody>
                        <tr>
                            <th>容量</th>
                            <td><%= contents[i].capacity||'--' %></td>
                        </tr>
                        <tr>
                            <th>已选</th>
                            <td><%= contents[i].chosen||'--' %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer"><small class="text-muted"><%= contents[i].date||'----/--/--' %></small></div>
        </div>
        <% } %>
    </div>
</div>
<script>
    (function ($, SASEE) {
        $('.card-deck').children().click((e)=>{
            SASEE._loadContent(e, '#subject_content', 'mySubject', (e) => {
                SASEE._contentBarToggle();
                SASEE._subjectToggle('#subject_content', '#subject_list');
            })
        });
    })(window.jQuery, window.SASEE);
</script>