<% let _data=data?data[0]:{id:'',title:'',group:'',capacity:'',introduction:'',materials:'请上传zip，rar或7z文件，不超过5M'} %>
<div class="container">
    <div class="row">
        <div class="col-6 mx-auto mt-3 text-center">
            <form action="" method="POST" id="subject_form">
                <input type="hidden" name="id" id="subject_id" value="<%= _data.id %>">
                <div class="form-group form-row">
                    <label class="col-3 col-form-label" for="subject_title">名称</label>
                    <input class="form-control col-9" type="text" name="title" id="subject_title" placeholder="课题名称"
                        value="<%= _data.title %>" required>
                </div>
                <div class="form-group form-row">
                    <label class="col-3 col-form-label" for="subject_group">方向</label>
                    <select class="custom-select form-control col-9" name="group" id="subject_group"
                        value="<%= _data.group %>" <%= _data.group?'readonly':'' %> required>
                        <option value="" <%= _data.group?'':'selected' %> disabled>请选择一个方向</option>
                        <% for( let index = 1; index <= 5; index++ ) { %>
                        <option value="<%= index %>" <%= _data.group==index?'selected':'' %>><%= index %></option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group form-row">
                    <label class="col-3 col-form-label" for="subject_capacity">容量</label>
                    <input class="form-control col-9" type="number" name="capacity" id="subject_capacity"
                        placeholder="可容纳人数" value="<%= _data.capacity %>" required>
                </div>
                <div class="form-group form-row">
                    <label class="col-3 col-form-label" for="subject_introduction">简介</label>
                    <textarea name="introduction" id="subject_introduction" class="form-control col-9" rows="5"
                        placeholder="请填写相关说明···" required><%= _data.introduction %></textarea>
                </div>
                <div class="form-group form-row">
                    <label class="col-3 col-form-label" for="subject_file">相关文件</label>
                    <div class="custom-file mb-3 col-9">
                        <input type="file" name="file" id="subject_file" class="custom-file-input"
                            <%= _data.materials?'':'required' %>>
                        <label for="subject_file" class="custom-file-label text-left"><small
                                class="form-text text-muted"><%= _data.materials %></small></label>
                    </div>
                </div>
                <div class="form-group form-row mt-3">
                    <label class="col-3 col-form-label" for="subject_password">密码</label>
                    <input type="password" name="password" id="subject_password" class="form-control col-9"
                        pattern="\w{8,16}" placeholder="请输入密码验证身份" required>
                </div>
                <div class="form-row justify-content-around align-items-center mb-3">
                    <button class="btn btn-secondary w-25" type="reset">重置</button>
                    <button class="btn btn-primary w-25" type="submit">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    (function ($, SASEE) {
        let $curSubject = $('#subject_id');
        SASEE.formSubmit({
            file: true,
            selector: '#subject_form',
            url: SASEE.URL_SUBJECT + ($curSubject[0].value ? SASEE.URL_MODIFY : SASEE.URL_SUBMIT),
            done: data => {
                let $container = $('#card_container');
                if ($curSubject[0].value) {
                    $('#card_container>[data-id=' + $curSubject[0].value + ']').remove();
                }
                $(data).appendTo($container).click(SASEE._submitOrModify);
                if ($container.children().length == 3) {
                    $('#subject_submit').parent().remove();
                }
                SASEE._subjectToggle('#subject_content', '#subject_list');
            }
        });
    })(window.jQuery, window.SASEE);
</script>