<div class="p-3">
    <div class="row justify-content-center mb-1">
        <div class="col-2">
            <img src="/pictures/<%= data[0].profile %>" alt="头像" class="img-thumbnail float-right" style="height:200px">
        </div>
        <div class="col-10">
            <table class="table table-bordered table-fixed">
                <tbody class="text-center">
                    <tr>
                        <th>账号</th>
                        <td><%= data[0].account %></td>
                        <th>姓名</th>
                        <td><%= data[0].name %></td>
                        <th>性别</th>
                        <td><%= data[0].gender %></td>
                    </tr>
                    <tr>
                        <th>方向</th>
                        <td colspan="2"><%= data[0].department_des %></td>
                        <th>职称</th>
                        <td colspan="2"><%= data[0].proTitle %></td>
                    </tr>
                    <tr>
                        <th>研究领域</th>
                        <td colspan="2"><%= data[0].field %></td>
                        <th>办公地点</th>
                        <td colspan="2"><%= data[0].office %></td>
                    </tr>
                    <tr>
                        <th>联系邮箱</th>
                        <td colspan="2"><%= data[0].email %></td>
                        <th>联系电话</th>
                        <td colspan="2"><%= data[0].tele %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="mb-3">
        <h5>个人简介</h5>
        <div class="p-3 border rounded">
            <%= data[0].resume %>
        </div>
        <!-- <pre></pre> -->
    </div>
    <div class="d-flex justify-content-around">
        <button id="edit_info" data-toggle="modal" data-target="#edit_info_modal"
            class="btn btn-primary w-25">完善信息</button>
        <div id="edit_info_modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">完善信息</h4>
                        <button class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form action="" name="edit_info" id="edit_info_form" method="POST" class="text-center">
                            <div class="form-group form-row">
                                <label for="field" class="col-4 col-form-label">研究领域：</label>
                                <input name="field" id="field" type="text" class="col-8 form-control"
                                    placeholder="请输入研究领域" maxlength="255" required>
                            </div>
                            <div class="form-group form-row">
                                <label for="office" class="col-4 col-form-label">办公地点：</label>
                                <input name="office" id="office" type="text" class="col-8 form-control"
                                    placeholder="请输入办公地点" maxlength="255" required>
                            </div>
                            <div class="form-group form-row">
                                <label for="tele" class="col-4 col-form-label">电话号码：</label>
                                <input name="tele" id="tele" type="number" class="col-8 form-control"
                                    placeholder="请输入电话号码" min="10000000000" max="20000000000" required>
                            </div>
                            <div class="form-group form-row">
                                <label for="resume" class="col-4 col-form-label">个人简介：</label>
                                <textarea name="resume" id="resume" class="col-8 form-control" rows="5"
                                    placeholder="请填写个人简介" maxlength="1023" required></textarea>
                            </div>
                            <div class="form-group form-row justify-content-around">
                                <button type="button" class="btn btn-secondary col-3" data-dismiss="modal">取消</button>
                                <button type="submit" class="btn btn-primary col-3">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../../common/views/setEmailAddr') %>
        <%- include('../../common/views/modifyPW') %>
    </div>
</div>
<script>
    (function ($, SASEE) {
        SASEE.formSubmit({
            selector: '#edit_info_form',
            url: './info',
            done:msg=>{
                $('#edit_info_modal').modal('hide');
                SASEE.requestDone(msg);
            }
        });
    })(window.jQuery, window.SASEE);
</script>