<nav id="mysubject_nav" class="nav nav-tabs nav-justified sticky-top bg-white">
    <a data-toggle="tab" class="nav-item nav-link active" href="#mysubject_notice">通知墙</a>
    <a data-toggle="tab" class="nav-item nav-link" href="#mysubject_progress">课题进度</a>
    <a data-toggle="tab" class="nav-item nav-link" href="#mysubject_teacher">教师资料</a>
    <a data-toggle="tab" class="nav-item nav-link" href="#mysubject_file">文件</a>
</nav>
<div class="tab-content p-3">
    <div class="tab-pane fade show active" id="mysubject_notice">
        <ul class="list-group mb-3">
            <% for( let index = 0; index < notice.length; index++ ) { %>
            <li class="list-group-item list-group-item-action">
                <a href="#" class="float-left w-50 ellipsis">
                    <% if (notice[index].top) { %>
                    <span class="badge badge-pill badge-warning">置顶</span>
                    <% } %>
                    <%= notice[index].title %>
                </a>
                <span class="float-right"><%= notice[index].date %>
                </span>
            </li>
            <% } %>
        </ul>
        <div id="editor" class="mb-3">
            <p>请在此处输入内容···</p>
        </div>
        <div class="d-flex justify-content-between">
            <button id="editor_clear" class="btn btn-secondary px-5" type="button">清空</button>
            <button id="editor_submit" class="btn btn-primary px-5" type="button">提交</button>
        </div>
    </div>
    <div class="tab-pane fade" id="mysubject_progress">
        <div class="card">
            <div class="card-header list-group-item-action" data-toggle="collapse" data-target="#asign_1">
                <h5 class="mb-0 py-2 d-flex justify-content-between">
                    <span class="w-50 ellipsis">任务一:初步探讨</span>
                    <span class="badge badge-pill badge-success">已完成</span>
                </h5>
            </div>
            <div class="collapse" id="asign_1" data-parent="#mysubject_progress">
                <div class="card-body">
                    <p>本次任务的目的是完成初步的探讨····</p>
                    <p class="h4 mb-0 text-right">评分：98</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header list-group-item-action" data-toggle="collapse" data-target="#asign_2">
                <h5 class="mb-0 py-2 d-flex justify-content-between">
                    <span class="w-50 ellipsis">任务二:设计初稿</span>
                    <span class="badge badge-pill badge-danger">不及格</span>
                </h5>
            </div>
            <div class="collapse" id="asign_2" data-parent="#mysubject_progress">
                <div class="card-body">
                    <p>本次任务的目的是进行进一步的设计，并提交设计初稿····</p>
                    <p class="h4 mb-0 text-right">评分：57</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header list-group-item-action" data-toggle="collapse" data-target="#asign_3">
                <h5 class="mb-0 py-2 d-flex justify-content-between">
                    <span class="w-50 ellipsis">任务三:最终成品</span>
                    <span class="badge badge-pill badge-warning">未完成</span>
                </h5>
            </div>
            <div class="collapse" id="asign_3" data-parent="#mysubject_progress">
                <div class="card-body">
                    <p>本次任务的目的是完成最后的组装，形成最终成品····</p>
                    <p class="h4 mb-0 text-right">评分：暂无</p>
                </div>
            </div>
        </div>

        <div class="progress mt-5">
            <!-- progress-bar-striped progress-bar-animated -->
            <div class="progress-bar" style="width: 33.3%">已完成</div>
            <div class="progress-bar bg-danger" style="width: 33.3%">不及格</div>
            <div class="progress-bar bg-warning" style="width: 33.4%">未完成</div>
        </div>
    </div>
    <div class="tab-pane fade" id="mysubject_teacher">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col" colspan="6">基本资料</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th>姓名</th>
                    <td><%= teacher.name %></td>
                    <th>性别</th>
                    <td><%= teacher.gender %></td>
                    <th>职称</th>
                    <td><%= teacher.pro %></td>
                </tr>
                <tr>
                    <th>研究方向</th>
                    <td colspan="2"><%= teacher.field %></td>
                    <th>办公地点</th>
                    <td colspan="2"><%= teacher.office %></td>
                </tr>
                <tr>
                    <th>联系邮箱</th>
                    <td colspan="2"><%= teacher.mail %></td>
                    <th>联系电话</th>
                    <td colspan="2"><%= teacher.tele %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="mysubject_file">
        <div class="row">
            <div class="col">
                <div class="card">
                    <header class="card-header">
                        <h5 class="mb-0 text-left">下载文件</h5>
                    </header>
                    <div class="card-body">
                        <% for( let i = 0; i < downFiles.length; i++ ) { %>
                        <p class="card-title"><%= downFiles[i].date %></p>
                        <ul class="list-group list-group-flush <%= i==downFiles.length-1?'':'mb-3' _%>">
                            <% for( let j = 0; j < downFiles[i].file.length; j++ ) { %>
                            <a href="<%= downFiles[i].file[j].url %>" class="list-group-item"
                                download><small><%= downFiles[i].file[j].name %></small></a>
                            <% } %>
                        </ul>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <% for( let i = 0; i < upFiles.length; i++ ) { %>
                        <p class="card-title"><%= upFiles[i].date %></p>
                        <ul class="list-group list-group-flush <%= i==upFiles.length-1?'':'mb-3' _%>">
                            <% for( let j = 0; j < upFiles[i].file.length; j++ ) { %>
                            <a href="#" class="list-group-item">
                                <small><%= upFiles[i].file[j] %></small>
                            </a>
                            <% } %>
                        </ul>
                        <% } %>
                    </div>
                    <footer class="card-footer dropup d-flex align-items-center justify-content-end">
                        <a id="fileEdit" class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <h5 class="mb-0 d-inline-block">文件操作</h5>
                        </a>
                        <ul class="dropdown-menu text-center w-25">
                            <a href="#file_modal" class="dropdown-item" data-toggle="modal">上传</a>
                            <div class="dropdown-divider"></div>
                            <a href="#file_modal" class="dropdown-item" data-toggle="modal">替换</a>
                            <a href="#file_modal" class="dropdown-item" data-toggle="modal">删除</a>
                            <a href="#file_modal" class="dropdown-item" data-toggle="modal">重命名</a>
                        </ul>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="file_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">文件操作</h4>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="/upload" method="POST" class="text-center">
                    <input type="text" name="file_edit" id="file_edit" class="d-none" value="new">
                    <div class="form-group">
                        <input type="password" name="file_checkPW" id="file_checkPW" class="form-control" placeholder="请输入密码验证身份"
                            required>
                    </div>
                    <div class="form-group form-row justify-content-around">
                        <button type="button" class="btn btn-secondary col-3" data-dismiss="modal">取消</button>
                        <button type="submit" id="file_submit" class="btn btn-primary col-3">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="form_material" class="d-none">
    <div id="file_new" class="form-group">
        <div class="custom-file">
            <input type="file" name="file_new" id="file_new_input" class="custom-file-input" required>
            <label for="file_new_input" class="custom-file-label text-left"><small
                    class="form-text text-muted">请上传压缩包，且不超过5M</small></label>
        </div>
    </div>
    <div id="file_select" class="form-group">
        <select class="custom-select" required>
            <option value="1">2019/10/24--第1个文件.rar</option>
            <option value="2">2019/10/24--第2个文件.rar</option>
            <option value="3">2019/12/10--第3个文件.rar</option>
            <option value="4">2019/12/10--第4个文件.rar</option>
        </select>
    </div>
    <div id="file_rename" class="form-group">
        <input type="text" name="file_rename" class="form-control" placeholder="请输入新文件名" required>
    </div>
</div>

<!-- <script type="text/javascript">
 alert('succeeded!')
</script> -->