<table class="table table-bordered text-center col-11 mx-auto">
    <tbody>
        <tr>
            <th scope="col" colspan="6">账户信息</th>
        </tr>
        <tr>
            <th scope="row">账号</th>
            <td><%= account %></td>
            <th scope="row">密码</th>
            <td>········</td>
            <th scope="row">邮箱</th>
            <td>暂无</td>
        </tr>
        <tr>
            <th scope="col" colspan="6">学籍信息</th>
        </tr>
        <tr>
            <th scope="row">专业</th>
            <td><%= status.specialty %></td>
            <th scope="row">方向</th>
            <td><%= status.subject %></td>
            <th scope="row">小班</th>
            <td><%= status.class %></td>
        </tr>
        <tr>
            <th scope="row">学号</th>
            <td><%= status.stuNum %></td>
            <th scope="row">姓名</th>
            <td><%= status.name %></td>
            <th scope="row">性别</th>
            <td><%= status.gender %></td>
        </tr>
        <tr>
            <th scope="col" colspan="6">学业信息</th>
        </tr>
        <tr>
            <th scope="row">GPA</th>
            <td><%= academic.gpa %></td>
            <th scope="row">加权平均分</th>
            <td><%= academic.weightAver %></td>
            <th scope="row">算术平均分</th>
            <td><%= academic.average %></td>
        </tr>
        <tr>
            <th scope="col" colspan="6">资格审查</th>
        </tr>
        <% var conv=(flag)=>flag?'有':'无';
        var warn=(flag)=>flag?'':'text-warning' %>
        <tr>
            <th scope="row">毕业设计</th>
            <td class="<%= warn(qualification.bysj) %>"><%= conv(qualification.bysj) %></td>
            <th scope="row">生产实习</th>
            <td class="<%= warn(qualification.scsx) %>"><%= conv(qualification.scsx) %></td>
            <th scope="row">综合实验</th>
            <td class="<%= warn(qualification.zhsy) %>"><%= conv(qualification.zhsy) %></td>
        </tr>
    </tbody>
</table>
<div class="col-10 mx-auto d-flex justify-content-around">
    <button id="edit_info" data-toggle="modal" data-target="#edit_info_modal" class="btn btn-primary w-25">绑定邮箱</button>
    <button id="modifyPW" data-toggle="modal" data-target="#modifyPW_modal" class="btn btn-primary w-25">修改密码</button>
</div>
<div id="edit_info_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">绑定邮箱</h4>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" class="text-center">
                    <div class="form-group form-row">
                        <label for="email" class="col-4 col-form-label">邮箱：</label>
                        <input name="email" id="email" type="email" class="col-8 form-control" placeholder="请输入邮箱地址"
                            required>
                    </div>
                    <div class="form-group form-row">
                        <label for="pin_code" class="col-4 col-form-label">验证码：</label>
                        <div class="input-group col-8 px-0">
                            <input name="pin_code" id="pin_code" type="number" class="form-control"
                                placeholder="请输入收到的验证码" required>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-primary">发送验证码</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-row justify-content-around">
                        <button type="button" class="btn btn-secondary col-3" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary col-3" id="edit_info_submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modifyPW_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">修改密码</h4>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" class="text-center">
                    <div class="form-group form-row">
                        <label for="pw_old" class="col-4 col-form-label">旧密码：</label>
                        <input name="oldPW" id="pw_old" type="password" class="col-8 form-control" placeholder="请输入旧密码"
                            required>
                    </div>
                    <div class="form-group form-row">
                        <label for="pw_new" class="col-4 col-form-label">新密码：</label>
                        <input name="newPW" id="pw_new" type="password" class="col-8 form-control" placeholder="请输入新密码"
                            required>
                    </div>
                    <div class="form-group form-row">
                        <label for="pw_repeat" class="col-4 col-form-label">重复密码：</label>
                        <input name="repeatPW" id="pw_repeat" type="password" class="col-8 form-control"
                            placeholder="请重新输入新密码" required>
                    </div>
                    <div class="form-group form-row justify-content-around">
                        <button type="button" class="btn btn-secondary col-3" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary col-3" id="modifyPW_submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>