<table class="table table-bordered text-center">
    <thead class="thead-light">
        <tr>
            <th scope="col" colspan="6">个人信息</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="col" colspan="6">账户信息</th>
        </tr>
        <tr>
            <th scope="row">账号</th>
            <td><%= account %></td>
            <th scope="row">密码</th>
            <td>········</td>
            <td><a id="modify_pw" href="#">修改密码</a></td>
        </tr>
        <tr>
            <th scope="col" colspan="6">学籍信息</th>
        </tr>
        <tr>
            <th scope="row">专业</th>
            <td><%= status.specialty %></td>
            <th scope="row">方向</th>
            <td><%= status.subject %></td>
            <th scope="row">小班</th>
            <td><%= status.class %></td>
        </tr>
        <tr>
            <th scope="row">学号</th>
            <td><%= status.stuNum %></td>
            <th scope="row">姓名</th>
            <td><%= status.name %></td>
            <th scope="row">性别</th>
            <td><%= status.gender %></td>
        </tr>
        <tr>
            <th scope="col" colspan="6">学业信息</th>
        </tr>
        <tr>
            <th scope="row">GPA</th>
            <td><%= academic.gpa %></td>
            <th scope="row">加权平均分</th>
            <td><%= academic.weightAver %></td>
            <th scope="row">算术平均分</th>
            <td><%= academic.average %></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th scope="col" colspan="6">资格审查</th>
        </tr>
        <% var conv=(flag)=>flag?'有':'无' %>
        <tr>
            <th scope="row">毕业设计</th>
            <td><%= conv(qualification.bysj) %></td>
            <th scope="row">生产实习</th>
            <td><%= conv(qualification.scsx) %></td>
            <th scope="row">综合实验</th>
            <td><%= conv(qualification.zhsy) %></td>
        </tr>
    </tfoot>
</table>