<!DOCTYPE html>
<html lang="zh_cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/pictures/favicon.ico">
    <link rel="stylesheet" href="/frames/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/system.css">
    <style type="text/css">
        #contents_body {
            height: 750px;
            overflow-y: scroll;
        }
    </style>
    <title>系统管理</title>
</head>
<!-- 发布通知，查看通知，发送邮件,更新系统状态， -->

<body class="container-fluid p-0">
    <div id="contents" class="card">
        <header id="contents_header" class="card-header">
            <button id="contents_back" class="btn" style="display: none"><span
                    class="glyphicon glyphicon-chevron-left float-left"></span>返回</button>
            <h3 id="contents_title" class="mb-0 text-center">通知</h3>
        </header>

        <div id="contents_body" class="p-0">
            <div id="news" class="collapse show" data-parent="#contents">
                <%- include(PATH.VIEWS_COMMON+'/contents-news',{news:data}) %>
            </div>
        </div>
    </div>

    <% let menuObj=[[{key:'news',value:'查看通知'},{key:'submitNotice',value:'发布通知'},{key:'sendEmail',value:'发送邮件'},{key:'writeLicense',value:'用户协议'},{key:'writeManual',value:'用户手册'},{href:'./logout',value:'退出系统'}],
    [{key:'updateState',value:'更新状态'},{key:'importInfo',value:'导入信息'},{key:'setLimit',value:'设定指标'},{key:'editInfo',value:'修改信息'},{key:'exportInfo',value:'导出信息'}]]; %>
    <div id="menu_modal" class="modal fade show" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h3>功能菜单</h3>
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <% for( let i = 0; i < menuObj.length; i++ ) { %>
                            <div class="col-12 col-md-6 mb-3 mb-md-0">
                                <% for( let j = 0; j < menuObj[i].length; j++ ) {
                                    let element=menuObj[i][j];
                                    if(element.key) { %>
                                <button class="btn btn-primary btn-lg mb-3 w-100" data-toggle="collapse"
                                    data-target="#<%= element.key %>"><%= element.value %></button>
                                <% } else { %>
                                <a class="btn btn-primary btn-lg mb-3 w-100"
                                    href="<%= element.href %>"><%= element.value %></a>
                                <% } } %>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="modal-footer row justify-content-around">
                        <p class="col-12 col-lg-5 mb-3 mb-lg-0">系统时间：<span id="_serverTime"></span></p>
                        <p class="col-12 col-lg-5 mb-0">距&ensp;<strong id="_nowState"></strong>&ensp;结束还有&ensp;<strong
                                id="_restTime"></strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include(PATH.VIEWS_COMMON+'/alert') %>

    <script src="/frames/others/jquery-3.4.0.js"></script>
    <script src="/frames/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/frames/others/wangEditor.min.js"></script>
    <script src="/frames/others/object_hash.js"></script>
    <script src="/js/system.js"></script>
    <script src="/js/common.js"></script>
    <script>
        (function ($, SASEE) {
            function _loadFrame({ $target, done, fail = SASEE.requestFail } = {}) {
                let type = $target.data('target');
                if (type && !$(type).length) {
                    $.get(SASEE.URL_VIEWS + '/' + type.substring(1)).fail(fail).done((html) => {
                        $('<div>', {
                            "id": type.substring(1),
                            "class": "collapse",
                            "data-parent": "#contents"
                        }).appendTo('#contents_body').collapse({
                            parent: '#contents',
                            toggle: true
                        }).append(html).collapse('show');
                        done && done($target);
                    });
                } else {
                    done && done($target);
                }
            }

            $('#menu_modal .container-fluid button').click(e => {
                _loadFrame({
                    $target: $(e.target)
                });
            });

            $(window).keydown(e => {
                if (e.ctrlKey && e.key == 'Alt') {
                    $('#menu_modal').modal('toggle');
                }
            });
            $('.container-fluid', '#menu_modal').click(e => {
                if (e.target.tagName == 'BUTTON') {
                    SASEE._showListOrContent({
                        container: '#news',
                        title: e.target.innerText
                    });
                }
                $('#menu_modal').modal('hide');
            });
            SASEE.initNewsFrame();

            SASEE.updateTime();
        })(window.jQuery, window.SASEE);
    </script>
</body>

</html>