<!DOCTYPE html>
<html lang="zh_cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/pictures/favicon.ico">
    <link rel="stylesheet" href="/frames/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/system.css">
    <style type="text/css">
        #contents_body {
            height: 750px;
        }
    </style>
    <title>系统管理</title>
</head>
<!-- 发布通知，查看通知，发送邮件,更新系统状态， -->

<body class="container-fluid">
    <div id="contents" class="p-3">
        <div class="card">
            <header id="contents_header" class="card-header">
                <button id="contents_back" class="btn" style="display: none"><span
                        class="glyphicon glyphicon-chevron-left float-left"></span>返回</button>
                <h3 id="contents_title" class="mb-0 text-center">通知</h3>
            </header>

            <div id="contents_body" class="p-3">
                <div id="news" class="collapse show" data-parent="#contents">
                    <%- include(PATH.VIEWS_COMMON+'/contents-news',{news:data}) %>
                </div>
                <div id="submit_notice" class="collapse" data-parent="#contents">
                    <form action="" id="submit_notice_form" method="POST">
                        <div class="form-group form-row align-items-center">
                            <div class="col-1">
                                <div class="form-group form-row justify-content-around">
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" name="top" class="custom-control-input" id="ifTop">
                                        <label class="custom-control-label" for="ifTop">置顶</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    <input type="text" name="title" class="form-control" placeholder="请输入通知标题"
                                        maxlength="255" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group form-row justify-content-around">
                                    <% const categoryObj={
                                        "bysj":'毕业设计',
                                        "scsx":'生产实习',
                                        "zhsy":'课程设计与综合实验'
                                    }; 
                                    for (const [key,value] of Object.entries(categoryObj)) { %>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" name="category" class="custom-control-input"
                                            id="customCheck_<%= key %>" value="<%= value %>" checked>
                                        <label class="custom-control-label"
                                            for="customCheck_<%= key %>"><%= value %></label>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div id="noticeEditor">
                            <div class="mb-3 editor">
                                <p>请在此处输入内容···</p>
                            </div>
                            <div class="form-group form-row justify-content-around">
                                <button type="reset" class="btn btn-secondary col-3 editor-clear"
                                    data-dismiss="modal">清空</button>
                                <button type="submit" class="btn btn-primary col-3">发布</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="send_email" class="collapse" data-parent="#contents">
                    <form action="" id="send_email_form" method="POST">
                        <div class="form-group form-row align-items-center">
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" name="title" class="form-control" placeholder="请输入邮件标题"
                                        maxlength="255" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group form-row justify-content-around">
                                    <% const idObj={"student":'学生',"teacher":'教师',"dean":'系主任'}; 
                                    for (const [key,value] of Object.entries(idObj)) { %>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" name="identity" value="<%= key %>" id="identity-<%= key %>"
                                            class="custom-control-input" <%= key=='student'?'checked':'' %>>
                                        <label for="identity-<%= key %>"
                                            class="custom-control-label"><%= value %></label>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div id="emailEditor">
                            <div class="mb-3 editor">
                                <p>请在此处输入内容···</p>
                            </div>
                            <div class="form-group form-row justify-content-around">
                                <button type="reset" class="btn btn-secondary col-3 editor-clear"
                                    data-dismiss="modal">清空</button>
                                <button type="submit" class="btn btn-primary col-3">发送</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="update_state" class="collapse" data-parent="#contents">
                    <form action="" id="update_state_form" method="POST" class="col-6 mx-auto">
                        <% let {states,now,initialized}=extraData,flag1=false,flag2=!initialized;
                        for (index=0;index<states.length;index++) { 
                            let key=states[index].name,
                            value=states[index].description,
                            start=states[index].start;
                            if(flag1){
                                flag2=true;
                            }
                            if(key==now.name){
                                flag1=true;
                            } %>
                        <div class="form-group form-row">
                            <label for="_<%= key %>" class="col-3 text-center col-form-label"><%= value %></label>
                            <div class="input-group col-9 px-0">
                                <input name="<%= key %>" id="_<%= key %>" type="datetime-local" class="form-control"
                                    value="<%= start||'' %>" <%= flag1&&flag2?'required':'disabled' %>>
                                <div class="input-group-append">
                                    <% if (flag1&&flag2) { %>
                                    <button type="button" class="btn btn-outline-secondary update-button">更新时间</button>
                                    <% } else { %>
                                    <button type="button" class="btn btn-outline-secondary" disabled>不可操作</button>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <div class="form-group form-row justify-content-around">
                            <button type="submit" class="btn btn-secondary w-25">初始化</button>
                            <button type="button" id="next_button" class="btn btn-primary w-25">下一阶段</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="menu_modal" class="modal fade show" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row justify-content-around">
                            <button class="btn btn-primary w-25" data-toggle="collapse"
                                data-target="#submit_notice">发布通知</button>
                            <button class="btn btn-primary w-25" data-toggle="collapse"
                                data-target="#news">查看通知</button>
                        </div>
                        <div class="row justify-content-around">
                            <button class="btn btn-primary w-25" data-toggle="collapse"
                                data-target="#update_state">更新状态</button>
                            <button class="btn btn-primary w-25" data-toggle="collapse"
                                data-target="#send_email">发送邮件</button>
                            <a class="btn btn-primary w-25" href="./logout">退出系统</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include(PATH.VIEWS_COMMON+'/alert') %>

    <script src="/frames/others/jquery-3.4.0.js"></script>
    <script src="/frames/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/wangEditor.min.js"></script>
    <script src="/js/system.js"></script>
    <script src="/js/common.js"></script>
    <script>
        (function ($, SASEE) {
            let noticeEditor = SASEE.instEditor('#noticeEditor', true),
                emailEditor = SASEE.instEditor('#emailEditor', true),
                $updateButton = $('.update-button'),
                $nextButton = $('#next_button');
            noticeEditor.$textContainerElem[0].style.height = '540px';
            emailEditor.$textContainerElem[0].style.height = '540px';
            SASEE.formSubmit({
                editor: noticeEditor,
                selector: '#submit_notice_form',
                url: './submitNotice',
                validate: $form => {
                    return Boolean($form.find(':checkbox:checked').length);
                },
                ifNotValid: () => {
                    SASEE.alert({
                        msg: '通知分类不能为空，请选择至少一个分类！'
                    })
                    return;
                },
                done: SASEE.requestDone
            });
            SASEE.formSubmit({
                editor: emailEditor,
                selector: '#send_email_form',
                url: './sendEmail',
                validate: $form => {
                    return Boolean($form.find(':radio:checked').length);
                },
                ifNotValid: () => {
                    SASEE.alert({
                        msg: '收件人不能为空，请输入至少一个收件人！'
                    })
                    return;
                },
                done: SASEE.requestDone
            });
            SASEE.formSubmit({
                selector: '#update_state_form',
                url: './initState',
                validate: $form => {
                    console.log($form);
                    let validateArray = $form.serializeArray();
                    if (validateArray.length > 0) {
                        console.log(validateArray);

                        return validateArray.reduce((accumulator, currentValue, currentIndex, array) => Boolean(accumulator && currentValue.value > array[currentIndex - 1].value));
                    } else {
                        return false;
                    }
                },
                ifNotValid: () => {
                    SASEE.alert({
                        msg: '时间顺序有误，请检查后再次提交！'
                    })
                    return;
                },
                done: SASEE.requestDone
            });
            $updateButton.click(e => {
                let $input = $(e.target).closest('.input-group').find('input');
                $.post('./updateState', {
                    name: $input[0].name,
                    start: $input[0].value
                }).done(SASEE.requestDone).fail(SASEE.requestFail);
            });
            $nextButton.click(e => {
                $.get('./nextState').done(msg => {
                    let $next = $('.update-button').eq(0);
                    $next.attr('disabled', true);
                    $next.closest('.input-group').find('input').attr('disabled', true);
                    SASEE.requestDone(msg);
                }).fail(SASEE.requestFail);
            });
            $(window).keydown(e => {
                if (e.ctrlKey && e.key == 'Alt') {
                    $('#menu_modal').modal('toggle');
                }
            });
            $('.container-fluid', '#menu_modal').click(e => {
                SASEE._showListOrContent({
                    container: '#news',
                    title: e.target.innerText
                });
                $('#menu_modal').modal('hide');
            });
            SASEE.initNewsFrame();
        })(window.jQuery, window.SASEE);
    </script>
</body>

</html>