<div class="p-3">
    <div class="row justify-content-center mb-1">
        <div class="col-2">
            <img src="/pictures/<%= profile %>" alt="头像" class="img-thumbnail float-right" style="height:200px">
        </div>
        <div class="col-10">
            <table class="table table-bordered">
                <tbody class="text-center">
                    <tr>
                        <th>账号</th>
                        <td><%= account %></td>
                        <th>姓名</th>
                        <td><%= name %></td>
                        <th>性别</th>
                        <td><%= gender %></td>
                    </tr>
                    <tr>
                        <th>方向</th>
                        <td colspan="2"><%= direction %></td>
                        <th>职称</th>
                        <td colspan="2"><%= proTitle %></td>
                    </tr>
                    <tr>
                        <th>研究领域</th>
                        <td colspan="2"><%= field %></td>
                        <th>办公地点</th>
                        <td colspan="2"><%= office %></td>
                    </tr>
                    <tr>
                        <th>联系邮箱</th>
                        <td colspan="2"><%= email %></td>
                        <th>联系电话</th>
                        <td colspan="2"><%= tele %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="mb-3">
        <h5>个人简介</h5>
        <div class="p-3 border rounded">
            <%= resume %>
        </div>
        <!-- <pre></pre> -->
    </div>
    <div class="d-flex justify-content-around">
        <button id="edit_info" data-toggle="modal" data-target="#edit_info_modal"
            class="btn btn-primary w-25">完善信息</button>
        <button id="modifyPW" data-toggle="modal" data-target="#modifyPW_modal"
            class="btn btn-primary w-25">修改密码</button>
    </div>
</div>

<div id="edit_info_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">完善信息</h4>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="" name="edit_info" id="edit_info_form" method="POST" class="text-center">
                    <div class="form-group form-row">
                        <label for="field" class="col-4 col-form-label">研究领域：</label>
                        <input name="field" id="field" type="text" class="col-8 form-control" placeholder="请输入研究领域"
                            required>
                    </div>
                    <div class="form-group form-row">
                        <label for="office" class="col-4 col-form-label">办公地点：</label>
                        <input name="fieldoffice" id="fieldoffice" type="text" class="col-8 form-control"
                            placeholder="请输入办公地点" required>
                    </div>
                    <div class="form-group form-row">
                        <label for="tele" class="col-4 col-form-label">电话号码：</label>
                        <input name="tele" id="tele" type="number" class="col-8 form-control" placeholder="请输入电话号码"
                            required>
                    </div>
                    <div class="form-group form-row">
                        <label for="email" class="col-4 col-form-label">邮箱：</label>
                        <input name="email" id="email" type="email" class="col-8 form-control" placeholder="请输入邮箱地址"
                            required>
                    </div>
                    <div class="form-group form-row">
                        <label for="pin_code" class="col-4 col-form-label">验证码：</label>
                        <div class="input-group col-8 px-0">
                            <input name="pin_code" id="pin_code" type="number" class="form-control" pattern="\d{4}"
                                placeholder="请输入收到的验证码" required>
                            <div class="input-group-append">
                                <button type="button" id="pin_code_send" class="btn btn-outline-primary">发送验证码</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <label for="resume" class="col-4 col-form-label">个人简介：</label>
                        <textarea name="resume" id="resume" class="col-8 form-control" rows="5"
                            placeholder="请填写个人简介" required></textarea>
                    </div>
                    <div class="form-group form-row justify-content-around">
                        <button type="button" class="btn btn-secondary col-3" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary col-3" id="edit_info_submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modifyPW_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">修改密码</h4>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="" name="modifyPW" id="modifyPW_form" method="POST" class="text-center">
                    <div class="form-group form-row">
                        <label for="pw_old" class="col-4 col-form-label">旧密码：</label>
                        <input name="oldPW" id="pw_old" type="password" class="col-8 form-control" pattern="\w{8,16}"
                            placeholder="请输入旧密码" required>
                    </div>
                    <div class="form-group form-row">
                        <label for="pw_new" class="col-4 col-form-label">新密码：</label>
                        <input name="newPW" id="pw_new" type="password" class="col-8 form-control" pattern="\w{8,16}"
                            placeholder="请输入新密码" required>
                    </div>
                    <div class="form-group form-row">
                        <label for="pw_repeat" class="col-4 col-form-label">重复密码：</label>
                        <input name="repeatPW" id="pw_repeat" type="password" class="col-8 form-control"
                            pattern="\w{8,16}" placeholder="请重新输入新密码" required>
                    </div>
                    <div class="form-group form-row justify-content-around">
                        <button type="button" class="btn btn-secondary col-3" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary col-3" id="modifyPW_submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    (function ($, SASEE) {
        const regexpStr = /^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/;
        $('#pin_code_send').click(function () {
            let email = this.form.email.value;
            if (regexpStr.test(email)) {
                $.get(SASEE.URL_REQUEST, {
                    type: 'sendPinCode',
                    email: email
                }).done(() => {
                    console.log(this);
                    let count = 60;
                    this.setAttribute('disabled', true);
                    function countDown(target) {
                        if (count) {
                            target.value = String(count--) + 's';
                            setTimeout(() => {
                                countDown(target);
                            }, 1000);
                        } else {
                            target.value = '发送验证码';
                            target.removeAttribute('disabled')
                        }
                    }
                    countDown(this);
                });
            } else {
                alert('请输入有效的邮箱地址！');
            }
        });

        $('#modifyPW_form').submit(function (e) {
            e.preventDefault();
            if (this.newPW.value == this.repeatPW.value) {
                this.action = SASEE.URL_REQUEST;
                this.submit();
            } else {
                $(this.repeatPW).popover({
                    // selector: '#pw_repeat',
                    html: true,
                    content: '<h5 class="text-warning">密码不匹配！</h5>',
                    container: '#modifyPW_modal',
                    placement: 'top'
                }).popover('toggle');
            }
        });
    })(window.jQuery, window.SASEE);
</script>