<% let subject=data[0][0],teacher=data[1][0]; %>
<header class="text-center text-info border-bottom border-secondary my-3">
    <h3 class="mb-0"><%= subject.title %></h3>
</header>
<div class="row text-center mb-3">
    <div class="col-5">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col" colspan="4">课题基本信息</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th colspan="2">方向</th>
                    <td colspan="2"><%= subject.group_des %></td>
                </tr>
                <tr>
                    <th>容量</th>
                    <td><%= subject.capacity %>人</td>
                    <th>已选</th>
                    <td><%= subject.chosen %>人</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-7">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col" colspan="8">教师简介</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>姓名</th>
                    <td><%= teacher.name %></td>
                    <th>性别</th>
                    <td><%= teacher.gender %></td>
                    <th>方向</th>
                    <td><%= teacher.department_des %></td>
                    <th>职称</th>
                    <td><%= teacher.proTitle %></td>
                </tr>
                <tr>
                    <th>研究方向</th>
                    <td colspan="3"><%= teacher.field %></td>
                    <th>联系邮箱</th>
                    <td colspan="3"><%= teacher.email %></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="mb-3">
    <h5>课题简介</h5>
    <div class="p-3 border rounded">
        <%- subject.introduction _%>
    </div>
    <!-- <pre></pre> -->
</div>

<div class="mb-3">
    <h5>相关资料</h5>
    <% if (subject.materials) { %>
    <ul class="list-group list-group-flush">
        <a href="./file/download<%= '?id='+subject.id+'&filename='+subject.materials %>" class="list-group-item"
            download><small><%= subject.materials %></small></a>
    </ul>
    <% } else { %>
    <div class="d-flex justify-content-center" style="height: 250px">
        <h1 class="text-muted align-self-center">暂时没有资料</h1>
    </div>
    <% } %>
</div>
<div class="d-flex justify-content-around font-italic mb-3">
    <h4>发布时间：<%= subject.submitTime %></h4>
    <h4>最后修改：<%= subject.lastModifiedTime %></h4>
</div>