<% let subject=data[0][0],student=data[1]; %>
<nav id="mySubject_nav" class="nav nav-tabs nav-justified sticky-top bg-white">
    <a data-toggle="tab" class="nav-item nav-link active" href="#mySubject_notice">通知墙</a>
    <a data-toggle="tab" class="nav-item nav-link" href="#mySubject_student">学生</a>
    <a data-toggle="tab" class="nav-item nav-link" href="#mySubject_file">文件</a>
</nav>
<div class="tab-content p-3">
    <div class="tab-pane fade show active" id="mySubject_notice">
        <div class="container-fluid">
            <div class="row">
                <nav class="col-4 list-group nav nav-pills flex-column">
                    <a href="#myNotice" class="list-group-item list-group-item-action nav-link active mb-3"
                        data-toggle="pill">
                        <span class="w-50 ellipsis">发布新的通知...</span>
                    </a>
                    <% if (subject.notice.length) { 
                         for( let index =0; index <subject.notice.length ; index++ ) { %>
                    <a href="#myNotice_<%= index %>" class="list-group-item list-group-item-action nav-link"
                        data-toggle="pill">
                        <span class="w-50 ellipsis"><%= subject.notice[index].title %></span>
                        <span class="float-right"><%= subject.notice[index].date %></span>
                    </a>
                    <% } 
                 } else { %>
                    <div class="d-flex justify-content-center" style="height: 250px">
                        <h1 class="text-muted align-self-center">暂无通知</h1>
                    </div>
                    <% } %>
                </nav>
                <div class="col-8 tab-content border rounded p-3">
                    <div class="tab-pane fade show active" id="myNotice">
                        <div class="mb-3 editor">
                            <p>请在此处输入内容···</p>
                        </div>
                        <form action="" id="subject_notice_form" method="POST">
                            <input type="hidden" name="id" value="<%= subject.id %>">
                            <div class="form-group">
                                <input type="text" name="title" class="form-control" placeholder="请输入标题" maxlength="255"
                                    required>
                            </div>
                            <div class="form-group form-row justify-content-around">
                                <button class="btn btn-secondary w-25 editor-clear" type="reset">清空</button>
                                <button class="btn btn-primary w-25" type="submit">发布</button>
                            </div>
                        </form>
                    </div>
                    <% for( let index = 0; index < subject.notice.length; index++ ) { %>
                    <div class="tab-pane fade" id="myNotice_<%= index %>">
                        <%- subject.notice[index].content %></div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="mySubject_student">
        <table class="table table-bordered text-center">
            <thead class="thead-light">
                <tr>
                    <% const tableHead=['姓名','性别','专业','方向','小班','学号','GPA','加权平均','算术平均','保研','邮箱']; 
                    for( let index = 0; index < tableHead.length; index++ ) { %>
                    <th scope="col"><%= tableHead[index] %></th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% for( let index = 0; index < student.length; index++ ) { 
                    let s=student[index]; %>
                <tr>
                    <td><%= s.name %></td>
                    <td><%= s.gender %></td>
                    <td><%= s.specialty_des %></td>
                    <td><%= s.group_des %></td>
                    <td><%= s.class %></td>
                    <td><%= s.stuNum %></td>
                    <td><%= s.GPA %></td>
                    <td><%= s.WAS %></td>
                    <td><%= s.AMS %></td>
                    <td><%= s.postgraduate %></td>
                    <td><%= s.email %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <div class="d-flex mt-5 justify-content-around">
            <button data-toggle="modal" data-target="#mark_modal" class="btn btn-primary w-25">打分</button>
            <div id="mark_modal" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">打分</h4>
                            <button class="close" data-dismiss="modal"><span>&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form action="" id="subject_mark_form" method="POST">
                                <input type="hidden" name="id" value="<%= subject.id %>">
                                <% for( let index = 0; index < student.length; index++ ) { %>
                                <div class="form-group form-row text-center">
                                    <label for="mark_<%= student[index].id %>"
                                        class="col-4 col-form-label"><%= student[index].name %>:</label>
                                    <input name="<%= student[index].id %>" id="mark_<%= student[index].id %>"
                                        type="number" class="col-8 form-control" placeholder="请输入分数" min="0" max="100"
                                        required>
                                </div>
                                <% } %>
                                <div class="form-group form-row justify-content-around">
                                    <button type="reset" class="btn btn-secondary col-3"
                                        data-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-primary col-3">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <%- include(PATH.VIEWS_COMMON+'/mySubject-sendEmail',{
                to:student,
                PATH
            }) %>
        </div>
    </div>
    <div class="tab-pane fade" id="mySubject_file">
        <%- include(PATH.VIEWS_COMMON+'/mySubject-file',{
            down:subject.studentFiles,
            up:subject.teacherFiles,
            id:subject.id,
            isTeacher:true,
            PATH
        }) %>
    </div>
</div>

<script>
    (function ($, SASEE) {
        let editor = SASEE.instEditor('#myNotice', true);
        SASEE.formSubmit({
            editor,
            selector: '#subject_notice_form',
            url: SASEE.URL_SUBJECT + '/notice',
            done: msg => {
                let date = new Date(),
                    $submitMuNotice = $('a[href="#myNotice"]');
                $(`<a href="#myNotice_${date.getTime()}" class="list-group-item list-group-item-action nav-link" data-toggle="pill">
                        <span class="w-50 ellipsis">${$('#subject_notice_form')[0].title.value}</span>
                        <span class="float-right">${date.toISOString().substr(0, 10)}</span>
                </a>`).insertAfter($submitMuNotice);
                $(`<div class="tab-pane fade" id="myNotice_${date.getTime()}">${editor.txt.html()}</div>`).insertAfter('#myNotice');
                $submitMuNotice.nextAll('div').remove();
                SASEE.requestDone(msg);
            }
        });
        SASEE.formSubmit({
            selector: '#subject_mark_form',
            url: SASEE.URL_SUBJECT + '/mark',
            done: msg => {
                $('#mark_modal').modal('hide');
                SASEE.requestDone(msg);
            }
        });
    })(window.jQuery, window.SASEE);
</script>