<% let s=data[0][0],stu=data[1].length?data[1][0]:null; %>
<nav id="mySubject_nav" class="nav nav-tabs nav-justified sticky-top bg-white">
    <a data-toggle="tab" class="nav-item nav-link active" href="#mySubject_notice">通知墙</a>
    <a data-toggle="tab" class="nav-item nav-link" href="#mySubject_info">课题信息</a>
    <a data-toggle="tab" class="nav-item nav-link" href="#mySubject_file">文件</a>
</nav>
<div class="tab-content p-3">
    <div class="tab-pane fade show active" id="mySubject_notice">
        <div class="container-fluid">
            <div class="row">
                <nav class="col-12 col-md-4 list-group nav nav-pills flex-column mb-3 mb-md-0">
                    <a href="#myNotice" class="list-group-item list-group-item-action nav-link active mb-3"
                        data-toggle="pill">
                        <span class="w-50 ellipsis">发布新的通知...</span>
                    </a>
                    <% if (s.notice.length) { 
                         for( let index =0; index <s.notice.length ; index++ ) { %>
                    <a href="#myNotice_<%= index %>" class="list-group-item list-group-item-action nav-link"
                        data-toggle="pill">
                        <span class="w-50 ellipsis"><%= s.notice[index].title %></span>
                        <span class="float-right"><%= s.notice[index].date %></span>
                    </a>
                    <% } 
                 } else { %>
                    <div class="d-flex justify-content-center" style="height: 250px">
                        <h1 class="text-muted align-self-center">暂无通知</h1>
                    </div>
                    <% } %>
                </nav>
                <div class="col-12 col-md-8 tab-content border rounded mb-3 mb-md-0 p-3">
                    <div class="tab-pane fade show active" id="myNotice">
                        <div class="mb-3 editor">
                            <p>请在此处输入内容···</p>
                        </div>
                        <form action="" id="subject_notice_form" method="POST">
                            <input type="hidden" name="id" value="<%= s.id %>">
                            <div class="form-group form-row text-center">
                                <label for="notice_title" class="col-3 col-lg-2 col-form-label required">标题：</label>
                                <input type="text" name="title" id="notice_title" class="col-9 col-lg-10 form-control"
                                    placeholder="请输入标题" maxlength="255" required>
                            </div>
                            <div class="form-group form-row justify-content-around">
                                <button class="btn btn-secondary col-12 col-md-3 mb-3 mb-md-0 editor-clear"
                                    type="reset">清空</button>
                                <button class="btn btn-primary col-12 col-md-3 mb-3 mb-md-0" type="submit">发布</button>
                            </div>
                        </form>
                    </div>
                    <% for( let index = 0; index < s.notice.length; index++ ) { %>
                    <div class="tab-pane fade" id="myNotice_<%= index %>">
                        <%- s.notice[index].content %></div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="mySubject_info">
        <div class="p-3">
            <div class="mb-3">
                <h5>课题简介</h5>
                <div class="p-3 border rounded text-indent">
                    <%= s.introduction||'暂无' %>
                </div>
            </div>
            <div class="mb-3">
                <h5>课题附件</h5>
                <div class="p-3 border rounded">
                    <% if (s.materials) { %>
                    <a href="./file/download<%= '?id='+s.id+'&filename='+s.materials %>" class=""
                        download><small><%= s.materials %></small></a>
                    <% } else { %>
                    <div class="d-flex justify-content-center" style="height: 80px">
                        <h3 class="text-muted align-self-center">无附件</h3>
                    </div>
                    <% } %>
                </div>
            </div>
            <% if(stu) { %>
            <div class="mb-3">
                <h5>学生信息</h5>
                <table class="table table-bordered table-fixed">
                    <tbody class="text-center">
                        <tr>
                            <th>姓名</th>
                            <td><%= stu.name %></td>
                            <th>性别</th>
                            <td><%= stu.gender %></td>
                        </tr>
                        <tr>
                            <th>学号</th>
                            <td><%= stu.stuNum %></td>
                            <th>班级</th>
                            <td><%= stu.class %></td>
                        </tr>
                        <tr>
                            <th>专业</th>
                            <td><%= stu.specialty %></td>
                            <th>方向</th>
                            <td><%= stu.group.substr(2) %></td>
                        </tr>
                        <tr>
                            <th>是否保研</th>
                            <td><%= stu.postgraduate %></td>
                            <th>联系邮箱</th>
                            <td><%= stu.email||'暂无' %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mb-3">
                <h5>学生简介</h5>
                <div class="p-3 border rounded text-indent">
                    <%= stu.resume||'暂无' %>
                </div>
            </div>
            <% } %>
        </div>
        <% if(stu) { %>
        <div class="row mb-3 justify-content-around">
            <button data-toggle="modal" data-target="#mark_modal"
                class="btn btn-primary col-12 col-md-3 mb-3 mb-md-0">打分</button>
            <div id="mark_modal" class="modal fade" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">打分</h4>
                            <button class="close" data-dismiss="modal"><span>&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form action="" id="subject_mark_form" class="text-center" method="POST">
                                <input type="hidden" name="id" value="<%= s.id %>">
                                <div class="form-group form-row">
                                    <label for="mark_input" class="col-4 col-form-label required">分数：</label>
                                    <input name="mark" id="mark_input" type="number" class="col-8 form-control"
                                        placeholder="请输入分数" min="0" max="100" value="<%= stu.score_bysj||'' %>"
                                        required>
                                </div>
                                <div class="form-group form-row">
                                    <label for="mark_password" class="col-4 col-form-label required">密码：</label>
                                    <input name="password" id="mark_password" type="password" class="col-8 form-control"
                                        placeholder="请输入密码进行确认" pattern="\w{1,16}" required>
                                </div>
                                <div class="form-group form-row justify-content-around">
                                    <button type="reset" class="btn btn-secondary col-12 col-md-3 mb-3 mb-md-0"
                                        data-dismiss="modal">取消</button>
                                    <button type="submit"
                                        class="btn btn-primary col-12 col-md-3 mb-3 mb-md-0">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <%- include(PATH.VIEWS_COMMON+'/mySubject-sendEmail',{
                to:stu,
                PATH
            }) %>
        </div>
        <% } %>
    </div>
    <div class="tab-pane fade" id="mySubject_file">
        <%- include(PATH.VIEWS_COMMON+'/mySubject-file',{
            down:s.studentFiles,
            up:s.teacherFiles,
            id:s.id,
            isTeacher:true,
            PATH
        }) %>
    </div>
</div>

<script>
    (function ($, SASEE) {
        let editor = SASEE.instEditor('#myNotice', true);
        SASEE.formSubmit({
            editor,
            selector: '#subject_notice_form',
            url: SASEE.URL_SUBJECT + '/notice',
            done: msg => {
                let date = new Date(),
                    $submitMuNotice = $('a[href="#myNotice"]');
                $(`<a href="#myNotice_${date.getTime()}" class="list-group-item list-group-item-action nav-link" data-toggle="pill">
                        <span class="w-50 ellipsis">${$('#subject_notice_form')[0].title.value}</span>
                        <span class="float-right">${date.toLocaleISOString().substr(0, 10)}</span>
                </a>`).insertAfter($submitMuNotice);
                $(`<div class="tab-pane fade" id="myNotice_${date.getTime()}">${editor.txt.html()}</div>`).insertAfter('#myNotice');
                $submitMuNotice.nextAll('div').remove();
                SASEE.requestDone(msg);
            }
        });
        SASEE.formSubmit({
            selector: '#subject_mark_form',
            url: SASEE.URL_SUBJECT + '/mark',
            done: msg => {
                $('#mark_modal').modal('hide');
                SASEE.requestDone(msg);
            }
        });
    })(window.jQuery, window.SASEE);
</script>