<% const stateObj={'未通过':'modifySubject','未审核':'modifySubject','通过':'mySubject'},
colorObj={'未通过':'warning','未审核':'primary','通过':'success'},
_state=state.substr(2); %>
<div class="card my-3 list-group-item-action subject-card" data-type="<%= stateObj[_state] %>" data-id="<%= id %>">
    <header class="card-header d-flex align-items-center justify-content-between"><span
            class="d-inline-block w-75 ellipsis"><%= title %></span><span
            class="badge badge-pill badge-<%= colorObj[_state] %>"><%= _state %></span></header>
    <div class="card-body row">
        <p class="card-text multi-ellipsis"><%= introduction %></p>
        <table class="table mb-0 text-center">
            <tbody>
                <tr>
                    <th>题目难度</th>
                    <td><%= difficulty %></td>
                </tr>
                <tr>
                    <th>题目份量</th>
                    <td><%= weight %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <small class="text-muted">发布于<%= submitTime||'----/--/--' %></small>
        <small class="text-muted">修改于<%= lastModifiedTime||'----/--/--' %></small>
    </div>
</div>