<% const stateObj={'-1':'modifySubject','0':'modifySubject','1':'mySubject'},
colorObj={'-1':'warning','0':'primary','1':'succcess'},
desObj={'-1':'被打回','0':'未审核','1':'已通过'}; %>
<div class="card my-3 list-group-item-action subject-card" data-type="<%= stateObj[state] %>" data-id="<%= id %>">
    <header class="card-header d-flex align-items-center justify-content-between"><span
            class="d-inline-block w-75 ellipsis"><%= title||'暂无标题' %></span><span
            class="badge badge-pill badge-<%= colorObj[state] %>"><%= desObj[state] %></span></header>
    <div class="card-body row">
        <p class="card-text">
            <%= introduction||'暂无介绍' %></p>
        <table class="table mb-0 text-center">
            <tbody>
                <tr>
                    <th>已选</th>
                    <td><%= chosen||0 %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <small class="text-muted">发布于<%= submitTime||'----/--/--' %></small>
        <small class="text-muted">修改于<%= lastModifiedTime||'----/--/--' %></small>
    </div>
</div>