<% var subjectNum=num;
var pageNum=Math.ceil(num/10);
 if (pageNum) { %>
<div id="subject_content" class="col-12 mx-auto scroll-container" style="display: none"></div>
<div id="subject_list" class="scroll-container" data-num=<%= num %> data-page=<%= pageNum %>>
    <table class="table table-hover text-center col-10 mx-auto">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="w-50">标题</th>
                <th scope="col">方向</th>
                <th scope="col">已选</th>
                <th scope="col">发布者</th>
                <th scope="col">发布时间</th>
            </tr>
        </thead>
        <tbody class="infinite-scroll-container-2">
            <% for( let index = 0; index < contents.length; index++ ) { %>
            <tr class="infinite-scroll-item-2 point">
                <td class="text-left"><a href="#"><%= contents[index].title %></a></td>
                <td><%= contents[index].derection %></td>
                <td><%= contents[index].chosen+'/'+contents[index].capacity %></td>
                <td><%= contents[index].publisher %></td>
                <td><%= contents[index].date %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <div class="text-center card-footer infinite-scroll-status-2" style="display:none">
        <span class="infinite-scroll-request">加载中···</span>
        <span class="infinite-scroll-last">没有啦</span>
        <span class="text-warning infinite-scroll-error">出错了</span>
    </div>

</div>

<script>
    (function ($, SASEE) {
        function _loadSubjectContent(e){
            SASEE._loadContent(e, '#subject_content', 'subjectContent', (e) => {
                SASEE._contentBarToggle();
                SASEE._subjectToggle('#subject_content', '#subject_list');
            })
        }
        $('.infinite-scroll-item-2').click(_loadSubjectContent);
        SASEE.instScroll('.infinite-scroll-container-2', function () {
            if (this.loadCount + 2 <= $('#subject_list').data().page) {
                return SASEE.URL_VIEW + '?type=subjectList&nextPage=' + (this.loadCount + 2);
            }
        }, '.infinite-scroll-item-2', 400, '#subject_list', true, '.infinite-scroll-status-2', null, null, (e, res, path, items) => {
            $(items).click(_loadSubjectContent);
        });
    })(window.jQuery, window.SASEE);
</script>

<% } else { %>
<div class="d-flex justify-content-center" style="height: 250px">
    <h1 class="text-muted align-self-center">暂时没有课题</h1>
</div>
<% } %>