<table>
    <tbody>
        <% for( let index = 0; index < contents.length; index++ ) { %>
        <tr class="infinite-scroll-item-2">
            <td class="text-left"><a href="#"><%= contents[index].title %></a></td>
            <td><%= contents[index].direction %></td>
            <td><%= contents[index].chosen+'/'+contents[index].capacity %></td>
            <td><%= contents[index].publisher %></td>
            <td><%= contents[index].date %></td>
        </tr>
        <% } %>
    </tbody>
</table>