<% let s=data[0][0],t=data[1][0]; %>
<nav id="mySubject_nav" class="nav nav-tabs nav-justified sticky-top bg-white">
    <a data-toggle="tab" class="nav-item nav-link active" href="#mySubject_notice">通知墙</a>
    <a data-toggle="tab" class="nav-item nav-link" href="#mySubject_info">课题信息</a>
    <a data-toggle="tab" class="nav-item nav-link" href="#mySubject_file">文件</a>
</nav>
<div class="tab-content p-3">
    <div class="tab-pane fade show active" id="mySubject_notice">
        <% if (s.notice.length) { %>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-12 col-md-4 list-group nav nav-pills flex-column">
                    <% for( let index = 0; index < s.notice.length; index++ ) { %>
                    <a href="#myNotice_<%= index %>"
                        class="list-group-item list-group-item-action nav-link <%= index?'':'active' _%>"
                        data-toggle="pill">
                        <span class="w-50 ellipsis"><%= s.notice[index].title %></span>
                        <span class="float-right"><%= s.notice[index].date %></span>
                    </a>
                    <% } %>
                </nav>
                <div class="col-12 col-md-8 tab-content border rounded p-3">
                    <% for( let index = 0; index < s.notice.length; index++ ) { %>
                    <div class="tab-pane fade <%= index?'':'show active' _%>" id="myNotice_<%= index %>">
                        <%- s.notice[index].content %></div>
                    <% } %>
                </div>
            </div>
        </div>
        <% } else { %>
        <div class="d-flex justify-content-center" style="height: 250px">
            <h1 class="text-muted align-self-center">暂无通知</h1>
        </div>
        <% } %>
    </div>
    <div class="tab-pane fade" id="mySubject_info">
        <div class="p-3">
            <div class="mb-3">
                <h5>课题简介</h5>
                <div class="p-3 border rounded text-indent">
                    <%= s.introduction||'暂无' %>
                </div>
            </div>
            <div class="mb-3">
                <h5>课题附件</h5>
                <div class="p-3 border rounded">
                    <% if (s.materials) { %>
                    <a href="./file/download<%= '?id='+s.id+'&filename='+s.materials %>" class=""
                        download><small><%= s.materials %></small></a>
                    <% } else { %>
                    <div class="d-flex justify-content-center" style="height: 80px">
                        <h3 class="text-muted align-self-center">无附件</h3>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="mb-3">
                <h5>教师信息</h5>
                <table class="table table-bordered table-fixed">
                    <tbody class="text-center">
                        <tr>
                            <th>姓名</th>
                            <td><%= t.name %></td>
                            <th>联系邮箱</th>
                            <td><%= t.email||'暂无' %></td>
                        </tr>
                        <tr>
                            <th>性别</th>
                            <td><%= t.gender %></td>
                            <th>工号</th>
                            <td><%= t.teaNum %></td>
                        </tr>
                        <tr>
                            <th>职称</th>
                            <td><%= t.proTitle %></td>
                            <th>方向</th>
                            <td><%= t.group.substr(2) %></td>
                        </tr>
                        <tr>
                            <th>研究领域</th>
                            <td><%= t.field||'暂无' %></td>
                            <th>办公地点</th>
                            <td><%= t.office||'暂无' %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mb-3">
                <h5>教师简介</h5>
                <div class="p-3 border rounded text-indent">
                    <%= t.resume||'暂无' %>
                </div>
            </div>
        </div>
        <div class="row mb-3 justify-content-around">
            <%- include(PATH.VIEWS_COMMON+'/mySubject-sendEmail',{
                to:t,
                PATH
            }) %>
        </div>
    </div>
    <div class="tab-pane fade" id="mySubject_file">
        <%- include(PATH.VIEWS_COMMON+'/mySubject-file',{
            down:s.teacherFiles,
            up:s.studentFiles.filter((element)=>{
                return element.uploader==s.stuName;
            }),
            id:s.id,
            isTeacher:false,
            PATH
        }) %>
    </div>
</div>