<nav id="mySubject_nav" class="nav nav-tabs nav-justified sticky-top bg-white">
    <a data-toggle="tab" class="nav-item nav-link active" href="#mySubject_notice">通知墙</a>
    <a data-toggle="tab" class="nav-item nav-link" href="#mySubject_assignment">任务进度</a>
    <a data-toggle="tab" class="nav-item nav-link" href="#mySubject_info">教师信息</a>
    <a data-toggle="tab" class="nav-item nav-link" href="#mySubject_file">文件</a>
</nav>
<div class="tab-content p-3">
    <div class="tab-pane fade show active" id="mySubject_notice">
        <% if (notice.length) { %>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-4 list-group nav nav-pills flex-column">
                    <% for( let index = 0; index < notice.length; index++ ) { %>
                    <a href="#myNotice_<%= index %>"
                        class="list-group-item list-group-item-action nav-link <%= index?'':'active' _%>"
                        data-toggle="pill">
                        <span class="w-50 ellipsis">
                            <% if (notice[index].top) { %>
                            <span class="badge badge-pill badge-warning">置顶</span>
                            <% } %><%= notice[index].title %></span>
                        <span class="float-right"><%= notice[index].date %></span>
                    </a>
                    <% } %>
                </nav>
                <div class="col-8 tab-content border rounded p-3">
                    <% for( let index = 0; index < notice.length; index++ ) { %>
                    <div class="tab-pane fade <%= index?'':'show active' _%>" id="myNotice_<%= index %>">
                        <%= notice[index].content %></div>
                    <% } %>
                </div>
            </div>
        </div>
        <% } else { %>
        <div class="d-flex justify-content-center" style="height: 250px">
            <h1 class="text-muted align-self-center">暂无通知</h1>
        </div>
        <% } %>
    </div>
    <div class="tab-pane fade" id="mySubject_assignment">
        <% let colorArray=['primary','danger','warning'],statusArray=['已完成','不合格','未完成']; 
        if (assignment.length) { 
        for( let index = 0; index < assignment.length; index++ ) { %>
        <div class="card">
            <div class="card-header list-group-item-action" data-toggle="collapse" data-target="#assign_<%= index+1 %>">
                <h5 class="mb-0 py-2 d-flex justify-content-between">
                    <span class="w-50 ellipsis">任务<%= index+1 %>:<%= assignment[index].title %></span>
                    <span>截止日期：<%= assignment[index].deadline %></span>
                    <span
                        class="badge badge-pill badge-<%= colorArray[assignment[index].status] %>"><%= statusArray[assignment[index].status] %></span>
                </h5>
            </div>
            <div class="collapse" id="assign_<%= index+1 %>" data-parent="#mySubject_assignment">
                <div class="card-body">
                    <div><%= assignment[index].description %></div>
                    <p class="h4 mb-0 text-right">评分：<%= assignment[index].score||'暂无' %></p>
                </div>
            </div>
        </div>
        <% } %>

        <div class="progress mt-5">
            <!-- progress-bar-striped progress-bar-animated -->
            <% for( let j = 0; j < assignment.length; j++ ) { %>
            <div class="progress-bar bg-<%= colorArray[assignment[j].status] %>"
                style="width: <%= 100/assignment.length+'%' %>">
                <%= statusArray[assignment[j].status] %></div>
            <% } %>
        </div>
        <% } else { %>
        <div class="d-flex justify-content-center" style="height: 250px">
            <h1 class="text-muted align-self-center">暂无任务</h1>
        </div>
        <% } %>
    </div>
    <div class="tab-pane fade" id="mySubject_info">
        <div class="row justify-content-center mb-1">
            <div class="col-2">
                <img src="/pictures/<%= teacher.profile %>" alt="头像" class="img-thumbnail float-right"
                    style="height:200px">
            </div>
            <div class="col-10">
                <table class="table table-bordered">
                    <tbody class="text-center">
                        <tr>
                            <th>姓名</th>
                            <td><%= teacher.name %></td>
                            <th>性别</th>
                            <td><%= teacher.gender %></td>
                        </tr>
                        <tr>
                            <th>方向</th>
                            <td><%= teacher.direction %></td>
                            <th>职称</th>
                            <td><%= teacher.proTitle %></td>
                        </tr>
                        <tr>
                            <th>研究领域</th>
                            <td><%= teacher.field %></td>
                            <th>办公地点</th>
                            <td><%= teacher.office %></td>
                        </tr>
                        <tr>
                            <th>联系邮箱</th>
                            <td><%= teacher.email %></td>
                            <th>联系电话</th>
                            <td><%= teacher.tele %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <h5>个人简介</h5>
            <div class="p-3 border rounded">
                <%= teacher.resume %>
            </div>
            <!-- <pre></pre> -->
        </div>
    </div>
    <div class="tab-pane fade" id="mySubject_file">
        <div class="row">
            <div class="col">
                <div class="card">
                    <header class="card-header">
                        <h5 class="mb-0 text-left">下载文件</h5>
                    </header>
                    <div class="card-body">
                        <% if (downFiles.length) { 
                        for( let i = 0; i < downFiles.length; i++ ) { %>
                        <p class="card-title"><%= downFiles[i].date %></p>
                        <ul class="list-group list-group-flush <%= i==downFiles.length-1?'':'mb-3' _%>">
                            <% for( let j = 0; j < downFiles[i].file.length; j++ ) { %>
                            <a href="<%= downFiles[i].file[j].url %>" class="list-group-item" download><small
                                    class="w-100 ellipsis"><%= downFiles[i].file[j].name %></small></a>
                            <% } %>
                        </ul>
                        <% } %>
                        <% } else { %>
                        <div class="d-flex justify-content-center" style="height: 150px">
                            <h3 class="text-muted align-self-center">暂无可下载文件</h3>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <% if (upFiles.length) { 
                        for( let i = 0; i < upFiles.length; i++ ) { %>
                        <p class="card-title"><%= upFiles[i].date %></p>
                        <ul class="list-group list-group-flush <%= i==upFiles.length-1?'':'mb-3' _%>">
                            <% for( let j = 0; j < upFiles[i].file.length; j++ ) { %>
                            <a href="#" class="list-group-item">
                                <small class="w-100 ellipsis"><%= upFiles[i].file[j] %></small>
                            </a>
                            <% } %>
                        </ul>
                        <% } %>
                        <% } else { %>
                        <div class="d-flex justify-content-center" style="height: 150px">
                            <h3 class="text-muted align-self-center">未上传文件</h3>
                        </div>
                        <% } %>
                    </div>
                    <footer class="card-footer dropup d-flex align-items-center justify-content-end">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <h5 class="mb-0 d-inline-block">文件操作</h5>
                        </a>
                        <ul id="file_edit_menu" class="dropdown-menu text-center w-25">
                            <a href="#file_modal" class="dropdown-item" data-toggle="modal">上传</a>
                            <!-- <div class="dropdown-divider"></div> -->
                            <% if (upFiles.length) { %>
                            <a href="#file_modal" class="dropdown-item" data-toggle="modal">替换</a>
                            <a href="#file_modal" class="dropdown-item" data-toggle="modal">删除</a>
                            <a href="#file_modal" class="dropdown-item" data-toggle="modal">重命名</a>
                            <% } %>
                        </ul>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="file_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="file_edit_title" class="modal-title">文件操作</h4>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="file_form" action="" method="POST" class="text-center">
                    <div class="form-group">
                        <input type="password" name="file_checkPW" id="file_checkPW" class="form-control"
                            pattern="\w{8,16}" placeholder="请输入密码验证身份" required>
                    </div>
                    <div class="form-group form-row justify-content-around">
                        <button type="button" class="btn btn-secondary col-3" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary col-3">提交</button>
                    </div>
                    <input type="text" name="file_edit_type" id="file_edit_type" class="d-none" value="">
                </form>
            </div>
        </div>
    </div>
</div>

<div id="form_materials" class="d-none">
    <% if (upFiles.length) { %>
    <div id="file_select" class="form-group">
        <select class="custom-select" required>
            <option value="placeholder" selected disabled>请选择一个文件</option>
            <% for( let i = 0; i < upFiles.length; i++ ) { 
                for( let j = 0; j < upFiles[i].file.length; j++ ) { 
                    if (upFiles[i].editable) { %>
            <option value="<%= upFiles[i].file[j] %>"><%= upFiles[i].date+'--'+upFiles[i].file[j] %></option>
            <% }
            }
            } %>
        </select>
    </div>
    <div id="file_rename" class="form-group">
        <input type="text" name="file_rename" class="form-control" placeholder="请输入新文件名" required>
    </div>
    <% } %>
    <div id="file_new" class="form-group">
        <div class="custom-file mb-3">
            <input type="file" name="file_new" id="file_new_input" class="custom-file-input" required>
            <label for="file_new_input" class="custom-file-label text-left"><small
                    class="form-text text-muted">请上传zip，rar或7z文件，不超过5M</small></label>
        </div>
        <textarea name="file_description" id="file_description" class="form-control" rows="3" placeholder="请填写相关说明···"
            required></textarea>
    </div>
</div>

<script>
    (function ($, SASEE) {
        const materialSelector = [
            '#file_new',
            '#file_select,#file_new',
            '#file_select',
            '#file_select,#file_rename'
        ];
        const fileEditType = [
            'new',
            'replace',
            'delete',
            'rename'
        ];
        var $materialContent = null;
        var $fileForm = $('#file_form');

        $('#file_edit_menu>a').click(function (e) {
            var index = $(this).index();
            $fileForm[0].reset();
            $('#file_new_input').next().find('small').text('请上传zip，rar或7z文件，不超过' + SASEE.FILE_MAXSIZE / 1048576 + 'M!');
            if ($materialContent) {
                $('#form_materials').append($materialContent);
            }
            $materialContent = $(materialSelector[index]);
            $fileForm.prepend($materialContent);
            $('#file_edit_title').text(this.innerText);
            $('#file_edit_type').val(fileEditType[index]);
        });

        SASEE.fileUpload('#file_form');
        SASEE.fileCheck('#file_new_input');

    })(window.jQuery, window.SASEE);
</script>