<header class="text-center text-info border-bottom border-secondary my-3">
    <h3 class="mb-0"><%= data[0].title %></h3>
</header>
<div class="row text-center mb-3">
    <div class="col-5">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col" colspan="4">课题基本信息</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th colspan="2">方向</th>
                    <td colspan="2"><%= data[0].group_des %></td>
                </tr>
                <tr>
                    <th>容量</th>
                    <td><%= data[0].capacity %>人</td>
                    <th>已选</th>
                    <td><%= data[0].chosen %>人</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-7">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col" colspan="8">教师简介</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>姓名</th>
                    <td><%= data[0].teacher.name %></td>
                    <th>性别</th>
                    <td><%= data[0].teacher.gender %></td>
                    <th>方向</th>
                    <td><%= data[0].teacher.department %></td>
                    <th>职称</th>
                    <td><%= data[0].teacher.proTitle %></td>
                </tr>
                <tr>
                    <th>研究方向</th>
                    <td colspan="3"><%= data[0].teacher.field %></td>
                    <th>联系邮箱</th>
                    <td colspan="3"><%= data[0].teacher.email %></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="mb-3">
    <h5>课题简介</h5>
    <div class="p-3 border rounded">
        <%- data[0].introduction _%>
    </div>
    <!-- <pre></pre> -->
</div>

<div class="mb-3">
    <h5>相关资料</h5>
    <% if (data[0].materials) { %>
    <ul class="list-group list-group-flush">
        <% for( let index = 0; index < data[0].materials.length; index++ ) { %>
        <a href="<%= data[0].materials[index].url %>" class="list-group-item"
            download><small><%= data[0].materials[index].filename %></small></a>
        <% } %>
    </ul>
    <% } else { %>
    <div class="d-flex justify-content-center" style="height: 250px">
        <h1 class="text-muted align-self-center">暂时没有资料</h1>
    </div>
    <% } %>
</div>
<div class="d-flex justify-content-around font-italic mb-3">
    <h4>发布时间：<%= data[0].submitTime %></h4>
    <h4>最后修改：<%= data[0].lastModifiedTime %></h4>
</div>
<div class="mb-3 d-flex justify-content-end">
    <button type="button" class="btn btn-primary w-25" data-toggle="modal"
        data-target="#subject_check_modal">选择此课题</button>
</div>
<div id="subject_check_modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">请输入密码进行确认</h4>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="" id="subject_check_form" method="POST">
                    <div class="form-group form-row">
                        <input name="number" type="hidden" value="<%= data.number %>">
                        <input name="check" id="subject_check_pw" type="password" class="form-control"
                            placeholder="请输入密码" pattern="\w{8,16}" required>
                    </div>
                    <div class="form-group form-row justify-content-around">
                        <button type="button" class="btn btn-secondary col-3" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary col-3">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    (function ($, SASEE) {
        let $subject_check_form=$('#subject_check_form');
        $subject_check_form.submit((e)=>{
            e.preventDefault();
            $subject_check_form[0].action = SASEE.URL_CHOOSE;
            $subject_check_form[0].submit();
        });
    })(window.jQuery, window.SASEE);
</script>