<% for( let index = 0; index < data.length; index++ ) { %>
<tr class="point" data-id="<%= data[index].id %>">
    <td class="text-primary text-left"><%= data[index].title %></td>
    <td><%= data[index].group %></td>
    <td><%= data[index].chosen+'/'+data[index].capacity %></td>
    <td><%= data[index].teacher %></td>
    <td><%= data[index].submitTime %></td>
</tr>
<% } %>